<corebox-template
    [companyName]="'Grupo Hinova'"
    [menuItems]="menuItems"
    [appItems]="appItems"
    [lightModeMainColor]="'#1c5297'"
    [lightModeSecondaryColor]="'#1c5297'"
    [darkModeMainColor]="'#1c5297'"
    [darkModeSecondaryColor]="'#1c5297'"
    [sessionName]="'Lucas Vasconcelos'"
    [pathToAvatarImage]="'https://abmproduction.blob.core.windows.net/sso/foto.perfil.05813170766?sv=2020-04-08&se=9999-12-31T23%3A59%3A59Z&sr=b&sp=r&sig=RZt4USrfOg2KYO%2B3vYTXm0ZKrB2fSegQwd04YFP7ErM%3D'"
    [menuOptions]="menuOptions"
>
</corebox-template>